/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: 'Supercell-Magic';
  src: url('./fonts/Supercell-magic-webfont.eot'); /* IE9 Compat Modes */
  src: url('./fonts/Supercell-magic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/Supercell-magic-webfont.woff2') format('woff2'), /* Modern Browsers */
    url('./fonts/Supercell-magic-webfont.woff') format('woff'), /* Modern Browsers */
    url('./fonts/Supercell-magic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/Supercell-magic-webfont.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}